:root {
    --medium-spring-green: #40F99B;
    --paradise-pink: #EC4067;
    --eerie-black: #191716;
    --space-cadet: #212E51;
    --dark-comflower-blue: #28458B;
    --blue-crayola: #3772FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}